antropy
flake8==3.9.2
flask
mne-qt-browser==0.1.7
mne
numpy
numpydoc==1.1.0
pandas
pandocfilters==1.4.3
python-dateutil==2.8.2
python-levenshtein==0.12.2
python-lsp-black==1.0.0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-picard==0.7
python-slugify==5.0.2
python-utils==3.1.0
pytz==2021.3
pyvista==0.32.1
pyvistaqt==0.5.0
pywavelets==1.1.1
pyyaml==6.0
pyzmq==22.3.0
scikit-image==0.19.0
scikit-learn
scipy
setuptools==59.4.0
statsmodels==0.13.1
stochastic==0.6.0
textdistance==4.2.1
joblib
gunicorn
requests
matplotlib
sklearn